/******************Universal CSS******************/
* {
    font-family: 'EB Garamond', serif;
}

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-Regular.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Light.ttf");
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}
.content h1{
    font-family: 'Bahnschrift', serif;
    font-size: 40px;
    color: #383f78;
}
h1:hover {
    color: #17a2b8;
}
.content h1:hover{
    color: #383f78;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

li, a, p {
    font-size: 18px;
}

.center {
    text-align: center;
}

.breadcrumb {
    background: none;
}

.breadcrumb .breadcrumb-item a:hover {
    color: #ffc107;
    text-decoration-line: none;
}
.arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}
.arrow a{
    height: 42px;
    width: 40px;
    text-align: center;
    background-color: #23272b;
    display: block;
    border: 3px;
}
.arrow a:hover{
    background-color: #007bff;
}
.arrow a i{
    color: #f2f2f2;
    font-size: 25px;
    line-height: 42px;
    cursor: pointer;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
/*Top Section*/                     
header, footer {
    padding: 50px 0;
}

.navbar-nav li {
    padding: 0 15px;
}

/******************Pages CSS******************/
/*Graphic Design CSS*/
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 30px auto;
    width: 300px;
    height: 400px;
    border-radius: 0;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.10), -5px -5px 30px 7px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transition: 0.4s;
}

.cards-list a {
    text-decoration: none;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 0;
    background: transparent;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 0;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

/*Global CSS of all pages*/
.banner-image {
    max-width: 950px;
    height: auto;
}

.banner-image {
    border: 1px solid #17a2b8;
}

.graphic-design-categories {
    margin-left: 0;
}

.last-column, #ui-webpage .page-navigation {
    padding-bottom: 50px;
    border-bottom: 1px solid #17a2b8;
}

.graphic-design-categories li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.graphic-design-categories .btn {
    border-radius: 0;
}

.graphic-design-categories li:hover {
    background: #0c5460;
    color: #ffffff;
}

#illustration .image-wrapper img, .modal-body img, #ui-landing-page img {
    border: none;
}

/*Landscape Visiting Cards CSS*/
#graphic-design-visiting-cards2 .banner-image {
    border: none;
}

/*ID Cards CSS*/
#graphic-design-id-cards .surgilink {
    border: 1px solid #e83e8c;
}

/*Illustration CSS*/
#illustration .image-wrapper img:hover {
    /*border: 1px solid #efa2a9;*/
    border: 1px solid #abdde5;
    transform: scale(0.99, 0.99);
    box-shadow: 5px 10px 18px #abdde5;
    /*box-shadow: 5px  10px 18px #efa2a9;*/
}

/*UI Page CSS*/
#ui .image-wrapper {
    border-radius: 0;
    cursor: pointer;
    transition: 0.4s;
}

#ui .image-wrapper img, #ui .image-wrapper2 img {
    width: 100%;
    height: auto;
}

.overlay-from-right {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay-from-right p {
    position: absolute;
    top: 50%;
    left: 40%;
}

#ui .image-wrapper:hover .overlay-from-right {
    width: 100%;
    left: 0;
}

.overlay-from-left {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: transparent;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

}

.overlay-from-left p {
    position: absolute;
    top: 50%;
    right: 40%;
}

#ui .image-wrapper2:hover .overlay-from-left {
    width: 100%;
    right: 0;
}
.restaurantuipage{
    border: 1px solid black;
}
/*UI Landing page CSS*/
#ui-landing-page .main:hover {
    transform: scale(0.99, 0.99);
}

/*UI Web page CSS*/
.xdprojects{
    border: 1px solid #808080;
}

/*Info CSS*/
.profile{
    width: 300px;
    height: 400px;
}
.clients-list{
    padding-left: 0;
}
.clients-list li{
    list-style: none;
}
.clients-list a:hover{
    text-decoration: none;
}
.profile-wrapper i{
    color: #23272b;
}
.profile-wrapper i:hover{
    color: #e83e8c;
}
.profile-wrapper a:hover{
    text-decoration: none;
}


/******************Responsive CSS******************/
/* Graphic Design */
@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .banner-image {
        width: 100%;
        max-width: 576px;
        height: auto;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .banner-image {

    }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .banner-image {
        width: 100%;
        max-width: 768px;
        height: auto;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    .banner-image {
        width: 100%;
        max-width: 992px;
        height: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
    .banner-image {
        width: 100%;
        max-width: 1200px;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .banner-image {
        width: 100%;
        max-width: 1400px;
        height: auto;
    }
}